@import '../../../styles/variables.scss';

.steps_card_item {
  background-color: $white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 320px;

  h3 {
    color: $gray-10;
    font-weight: 700;
    font-size: 48px;
  }

  h4 {
    font-size: 32px;
    color: $gray-600;
    font-weight: 400;
    margin: 10px 0;
  }

  p {
    color: $gray-400;
    font-size: 16px;
    margin-bottom: 30px;
  }
}