.inputArea {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    font-weight: 400;
    color: #5F6D72;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 0;
  }

  input {
    border: 1px solid #DBE0E9;
    outline: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    color: #A5B0BB;
  }

  .input_error {
    border: 1px solid #CC3262;
    outline: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    color: #A5B0BB;
  }

  input:focus {
    border: 1px solid #00BED2;
    color: #00BED2;
  }
}