@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --blue-100: '#039DB7',
  --blue-200: '#0A7D94',
  --blue-300: '#126478',
  --blue-400: '#126478'
}

html,
body {
  width: 100%;
  min-width: 320px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 920px;
  padding: 0 2%;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}