.service_section {
  background-color: #fff;
  padding: 90px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .service_section_content {
    display: flex;
    flex-direction: column;

    .services_cards {
      width: 100%;
      display: flex;
      gap: 20px;
      margin: 40px 0;
    }
  }

  @media only screen and (max-width: 540px){
    padding: 60px 0 30px;
    .service_section_content {
      .services_cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}