@import '../../../styles/variables';

.card_item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 450px;
  padding: 30px 30px 120px;
  border-radius: 20px;
  color: $white;


  .card_item_icon {
    max-width: 80px;
  }

  .card_item_txt {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 10px
  }

  .card_item_title {
    font-size: 40px;
    font-weight: 700;
  }
}