@import '../../../styles/variables';

.benefits {
  background-color: $gray-50;
  padding: 90px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .benefits_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;

    h2 {
      font-weight: 300;
      font-size: 40px;
    }

    .cards {
      width: 100%;
      display: flex;
      gap: 20px;

      .benefits_card_area, .payment {
        width: 50%;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .payment {
        .card_payment {
          background-color: $gray-500;
          width: 100%;
          max-width: 450px;
          border-radius: 16px;
          padding: 30px;
          color: $white;
          height: 100%;
          max-height: 670px;
          
          h4 {
            font-size: 16px;
          }

          h2 {
            font-weight: 700;
            font-size: 40px;
            margin: 10px 0 120px;
          }

          img {
            width: 100%;
            max-width: 400px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 580px) {
    .benefits_content  {
      .cards {
        flex-direction: column;
        gap: 0;

        .benefits_card_area {
          width: 100%;
          flex-direction: row;
        }

        .payment {
          width: 100%;
          align-items: center;
          margin: 0 0 40px;
        }
      }
    }
  }

   @media only screen and (max-width: 480px) {
    padding: 60px 0 30px;
    .benefits_content  {
      .cards {
        .benefits_card_area {
          width: 100%;
          flex-direction: column;
        }
      }
    }
  }
}