.footer {
  padding: 44px 0;
  background-color: #EBFFFF;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer_content {
    display: flex;
    flex-direction: column;

    .slider_top {
      width: 100%;
      padding-bottom: 25px;
      border-bottom: 1px solid #AEC0CB;
      .slider_top {
        width: 100%;
        display: flex;
        justify-content: flex-start;
      }
    }

    .middle {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 60px 0;

      .middle_left {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
          font-size: 18px;
          font-weight: 700;
          color: #004955;
        }

        a {
          font-size: 16px;
          color: #323E48;
          font-weight: 300;
        }
      }
    }


    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .legal_txt {
        font-size: 16px;
        font-weight: 300;
      }

      .bottom_img_txt {
        display: flex;
        align-items: center;
         gap: 20;

        .img_txt_item {
          display: flex;
          align-items: center;
          gap: 20;

          img {
            width: 100%;
            max-width: 38px;
            max-width: 32px;
          }

          p {
            font-size: 10px;
            font-weight: 400;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 730px) {
    .footer_content {
      .middle {
        flex-direction: column;
        gap: 40px;
      }
    }
  }

  @media only screen and (max-width: 560px) {
    .footer_content {
      .bottom {
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}