.title_section {
  text-align: center;
  margin-bottom: 20px;

  h2 {
    color: #373B42;
    font-size: 40px;
    margin-bottom: 10px;
  }

  p {
    font-size: 22px;
    color: #454D59;
    font-weight: 300;
  }

  @media only screen and (max-width: 540px){
      h2 {
        font-size: 28px;
      }

      p {
        font-size: 18px;
      }
  }
}