$blue-100: #039DB7;
$blue-200: #0A7D94;
$blue-300: #126478;
$blue-400: #145365;
$blue-500: #004955;

$white: #ffffff;
$black: #000000;

$gray-10: #D0DAE1;
$gray-50: #E3E6EA;
$gray-100: #EBEFF3;
$gray-150: #EBFFFF;
$gray-175: #AEC0CB;
$gray-200: #628295;
$gray-300: #628295;
$gray-400: #5F6D72;
$gray-500: #4D697C;
$gray-600: #405564;
$gray-700: #323E48;

$red: #CC3262;